CVS/*
*/CVS/*
**/*/CVS/*

*.class
*.log

.cvsignore

tmp/*
bin/*
dist/*
eeprom_readout/*
documents/*
.settings/CVS/*
downloadfirmwaresXML.sh
macOSXrelease/*
old_elements/*


esc_firmware_11_02_2012.xml

firmware.xml.simonk20130920

kkMulticopterFlashTool.properties

firmware.xml*
firmwares.xml

firmware_BS-15052013.xml

firmwares.xml.*
firmwares.xml*

kklogging.txt*

kkMulticopterFlashTool.cmd

kkMulticopterFlashTool.exe

kkMulticopterFlashTool_SERIAL.cmd

kkflashtool_win32.exe

kkflashtool_win32.exe4j

kkflashtool_win64.exe

kkflashtool_win64.exe4j

*.dmg
*.zip

macOSX/DS_Store

resources/DS_Store

resources/minsoo_BlackboardFirmwareDownloader.sh
